/* 바깥의 컨테이너의 길이및 위치를 나타냄 */
.ong_container{
    display: flex;
    width: 90vh;
    height: 60vh;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* 여기서부터는 각각 "옹"의 글자들 */

#head_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: aqua;
    transition: 3s background-color ease;
}

.vowel_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: greenyellow;
    justify-content: space-between;
}

#tail_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: yellow;
    transition: 3s background-color ease;
}

/* 각각의 바뀔 것들 */

#head_o_modified{
    display: flex;
    width: 20vh;
    height: 20vh;
    border: solid, aqua, 5vh;
    border-radius: 50%;
}

#tail_o_modified{
    display: flex;
    width: 20vh;
    height: 20vh;
    border: solid, yellow, 5vh;
    border-radius: 50%;
}

#vowel_o_blank1{
    background-color: greenyellow;
    width: 10vh;
    height: 20vh;
}

#vowel_o_blank2{
    background-color: greenyellow;
    width: 10vh;
    height: 20vh;
}

/* 로고 */

#logo{
    display: flex;
    justify-self: center;
    font-size: 7vh;
    visibility: hidden;
    opacity: 0;
    transition: all 4s ease;
}

/* 좌측 메뉴창 */
#left_menu{
    display: none;
    position: absolute;
    z-index: 1000;
    border: 0.1vh solid black;
    background-color: azure;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
    width: 30vh;
    height: 100vh;
    top: 0%;
    left: 0%;
}

/* 좌측 메뉴 헤더 */
.left_menu_top{
    border: 0.1vh solid black;
    border-top-right-radius: 2vh;
    background-color: aqua;
    height: 5vh;
    width: 29.9vh;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로그인 버튼 */
.login_img_divider{
    border: 0.2vh solid black;
    display: flex;
    background-color: azure;
    width: 5vh;
    height: 4.8vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_img_head{
    display: flex;
    background-color: aqua;
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;

}

.login_img_body{
    display: flex;
    background-color: aqua;
    width: 5vh;
    height: 2.5vh;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

}

.login_img_divider:hover{
    cursor: pointer;
}

/* x버튼 */
.shutdown{
    display: flex;
    width: 5vh;
    height: 5vh;
    border-top-right-radius: 2vh;
    border: 1px solid black;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
}

.shutdown:hover{
    cursor: pointer;
}

/* 메뉴에서 선택하는 기능 */

.option{
    font-size: larger;
    display: flex;
    height: 6vh;
    border: solid black 1px;
    align-items: center;
}

/* 메뉴창 여는 버튼 */
#freakinButton{
    display: flex;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 5vh;
    height: 5vh;
    border: solid black 1px;
    background-color: azure;
    border-radius: 0.5vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.freakinHover:hover{
    cursor: pointer;
}

.bar{
    display: flex;
    width: 4vh;
    height: 1vh;
    background-color: black;
    border-radius: 1vh;
}