.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 100vh;
    background-color: azure;
    border: solid black 0.25vh;
    border-radius: 1vh;
}