/* 바깥의 컨테이너의 길이및 위치를 나타냄 */
.ong_container{
    display: flex;
    width: 90vh;
    height: 60vh;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* 여기서부터는 각각 "옹"의 글자들 */

#head_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: aqua;
    transition: 3s background-color ease;
}

.vowel_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: greenyellow;
    justify-content: space-between;
}

#tail_o{
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: yellow;
    transition: 3s background-color ease;
}

/* 각각의 바뀔 것들 */

#head_o_modified{
    display: flex;
    width: 20vh;
    height: 20vh;
    border: solid, aqua, 5vh;
    border-radius: 50%;
}

#tail_o_modified{
    display: flex;
    width: 20vh;
    height: 20vh;
    border: solid, yellow, 5vh;
    border-radius: 50%;
}

#vowel_o_blank1{
    background-color: greenyellow;
    width: 10vh;
    height: 20vh;
}

#vowel_o_blank2{
    background-color: greenyellow;
    width: 10vh;
    height: 20vh;
}

/* 로고 */

#logo{
    display: flex;
    justify-self: center;
    font-size: 7vh;
    visibility: hidden;
    opacity: 0;
    transition: all 4s ease;
}